In [2]:

import duckdb 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans



%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb

In [3]:
data_path = "../data/"
data_file = "competencia_01.csv"
df= pd.read_csv(data_path + data_file)

C:\Users\chris\AppData\Local\Temp\ipykernel_6524\2761451831.py:3: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(data_path + data_file)

In [4]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,918105588,202101,1,0,0,61,120,3523.36,43807.16,967.03,...,4.0,0.0,-19941.18,0.0,3632.0,16033.69,20.0,0.0,15307.65,Continua
1,918119003,202101,1,0,1,44,120,8245.74,81380.94,1611.15,...,4.0,0.0,-29325.00,0.0,2902.0,6440.36,1.0,0.0,0.00,Continua
2,918123743,202101,0,0,1,60,120,-42924.73,225427.90,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Continua
3,918123965,202101,1,0,0,34,120,7025.42,58141.36,858.11,...,4.0,0.0,-15387.39,0.0,3640.0,13984.59,18.0,0.0,11952.87,Continua
4,918147740,202101,1,0,0,28,115,276.74,-4763.50,393.81,...,4.0,0.0,-29778.52,0.0,3261.0,19032.80,10.0,0.0,3331.32,Continua

In [8]:
mes =202104
f = df["foto_mes"] == mes
df.loc[f]

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
10240,675532669,202104,1,0,0,50,178,1193.57,15706.44,1752.49,...,2.0,0.00,-7458.02,0.0,4768.0,882.97,1.0,0.0,2076.21,Continua
10241,675533540,202104,1,0,0,37,53,4001.90,41903.32,396.72,...,2.0,0.00,-12046.71,0.0,1356.0,21609.26,12.0,0.0,23800.17,Continua
10242,675538066,202104,1,0,0,60,67,1800.26,11617.46,2604.38,...,2.0,0.00,-19458.82,0.0,2034.0,6452.63,8.0,0.0,1524.90,Continua
10243,675541858,202104,1,0,0,38,144,-500.28,6642.40,781.60,...,2.0,0.00,-107935.94,0.0,4365.0,85692.09,14.0,0.0,5982.30,Continua
10244,675552217,202104,1,0,0,33,178,41.96,-4.16,216.18,...,16.0,11485.59,-12493.45,0.0,3267.0,1689.17,3.0,0.0,2087.94,Continua
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892300,675497298,202104,1,0,0,62,24,324.53,6171.57,678.04,...,2.0,0.00,-40265.87,0.0,611.0,36678.47,22.0,0.0,1759.50,Continua
892301,675502985,202104,1,0,0,39,178,3654.93,77310.00,941.62,...,2.0,110470.84,-29536.14,0.0,1958.0,23847.80,5.0,0.0,14814.99,Continua
892302,675513634,202104,1,0,0,48,178,1085.88,6767.74,20.72,...,2.0,0.00,NaN,NaN,4124.0,NaN,NaN,NaN,0.00,Continua
892303,675519544,202104,1,0,0,38,178,189.68,5821.64,499.19,...,2.0,0.00,NaN,NaN,1882.0,NaN,NaN,NaN,0.00,Continua
892304,675524138,202104,1,0,0,36,69,1322.44,-112.26,219.44,...,2.0,0.00,-8251.82,0.0,1912.0,0.00,0.0,0.0,2991.15,Continua